extends layout

block content
    h1= title
    p Welcome to Login Demo
    
    form(name="login", method="post")
        div.input
            span.label UserName
            input(type="text", name="username")
        div.input
            span.label Password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="Log in")
        p #{message}
